*{
margin: 30px
}

header{
    background-color: rgb(116, 116, 116);
    margin: auto;
    min-height: 100px;
}

header img {
    float: left;
    margin-left: 100px;
}


li{
    display: inline-block;
    margin: 30px;
}
footer{
    background-color: rgb(116, 116, 116);

}